/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
  height: 50px;
  width: 100%;
  background-color: green;
  position: absolute;
  left: 0;
  top: 0;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #282829;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bmstu-link {
  margin: 15px auto 0 auto;
  display: flex;
  justify-content: center;
}

.bmstu-link > a {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.log {
  position: absolute;
  right: 0;
  top: 15px;
}

.nav {
  position: absolute;
  left: 0;
  top: 15px;
}

.log > li {
  list-style-type: none;
}

.nav > li {
  list-style-type: none;
}

.nav > li > a {
  padding-left: 10px;
}

.log > li > a {
  padding-right: 20px;
}

.main {
  position: absolute;
  top: 50px;
}

.container {
  max-width: 900px;
  margin: 200px 0px 0px 250px;
}